<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Subquery in the SELECT clause
© ExploreAI Academy

In this notebook, we will look at subqueries, which are powerful tools to enable more in-depth analysis in SQL. They are essentially intermediate results sets that we access with another query, so **a query inside another query**. We can use subqueries in various places in a query, and those subquery results also have various forms. Here, we look at the **use of a subquery in the `SELECT` clause.**

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

In this train, we will learn:
- How to use **subqueries** instead of static values to make calculations dynamic.
- How to turn a normal subquery into a **correlated subquery** to perform calculations based on specific criteria.

## Overview

Imagine we want to calculate the percentage of land area a specific country in a sub-region occupies, as a percentage of the total land area in that sub-region. That is a challenging question because we need to divide each country's land area with the sum of all countries in that sub-region. 
To do it, we can use a subquery. For example, let's just look at one sub-region for now, `Middle Africa`, and use the `Geographic_location` table to **find out the percentage of land each country has as a percentage of the total for 'Middle Africa'.**

## Connecting to our MySQL database

We will use our `Geographic_location` table in our `united_nations` database that we created in MySQL Workbench. We can apply the same queries we used in MySQL Workbench in this notebook if we connect to our MySQL server by running the cells below.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [3]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:Mysql5918.2018@localhost:3306/united_nations

'Connected: root@united_nations'

## Exercise

### 1. Calculate the total land area of the 'Middle Africa' sub-region

Write a query that will find the `Land_area` sum for the `Middle Africa` sub-region. Call this column `total_land_area`.

In [5]:
%%sql
SELECT 
SUM(Land_area) AS total_land_area
FROM Geographic_location
WHERE sub_region = 'Middle Africa';

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(Decimal('3888270.00'),)]

### 2. Calculate land area percentages for the Middle African countries using a static value

Recall that, to find the percentage of land area each country in the `Middle Africa` sub-region occupies, we need to **divide each country’s land area with the `total_land_area`**, which we have calculated above. Copy and paste this land area value into a new query and calculate the percentages. Call this calculated column `pct_regional_land`.

In [12]:
%%sql
SELECT Country_name,
       (Land_area / 3888270.00) * 100 AS pct_regional_land
FROM Geographic_location
WHERE sub_region = 'Middle Africa';

 * mysql+pymysql://root:***@localhost:3306/united_nations
9 rows affected.

[('Angola', Decimal('32.063103')),
 ('Cameroon', Decimal('12.157335')),
 ('Central African Republic', Decimal('16.022036')),
 ('Chad', Decimal('32.384582')),
 ('Congo', None),
 ('Democratic Republic of the Congo', None),
 ('Equatorial Guinea', Decimal('0.721401')),
 ('Gabon', Decimal('6.626855')),
 ('Sao Tome and Principe', Decimal('0.024690'))]

In [11]:
%%sql
SELECT Country_name,
    (Land_area / total_land_area) * 100 AS pct_regional_land
FROM Geographic_location
JOIN (SELECT SUM(Land_area) AS total_land_area
      FROM Geographic_location
      WHERE sub_region = 'Middle Africa') AS subquery
WHERE sub_region = 'Middle Africa';

 * mysql+pymysql://root:***@localhost:3306/united_nations
9 rows affected.

[('Angola', Decimal('32.063103')),
 ('Cameroon', Decimal('12.157335')),
 ('Central African Republic', Decimal('16.022036')),
 ('Chad', Decimal('32.384582')),
 ('Congo', None),
 ('Democratic Republic of the Congo', None),
 ('Equatorial Guinea', Decimal('0.721401')),
 ('Gabon', Decimal('6.626855')),
 ('Sao Tome and Principe', Decimal('0.024690'))]

### 3. Calculate land area percentages for the Middle African countries using a subquery

Instead of using the static value above, let's improve our query by using a subquery to achieve the same result.

Hint: The subquery in this case will be the query we created to find the total land area in Exercise 1.

In [13]:
%%sql
SELECT Country_name,
       (Land_area / total_land_area) * 100 AS pct_regional_land
FROM Geographic_location
JOIN (
    SELECT sub_region, SUM(Land_area) AS total_land_area
    FROM Geographic_location
    WHERE sub_region = 'Middle Africa'
    GROUP BY sub_region
) AS subquery
ON Geographic_location.sub_region = subquery.sub_region
WHERE Geographic_location.sub_region = 'Middle Africa';

 * mysql+pymysql://root:***@localhost:3306/united_nations
9 rows affected.

[('Angola', Decimal('32.063103')),
 ('Cameroon', Decimal('12.157335')),
 ('Central African Republic', Decimal('16.022036')),
 ('Chad', Decimal('32.384582')),
 ('Congo', None),
 ('Democratic Republic of the Congo', None),
 ('Equatorial Guinea', Decimal('0.721401')),
 ('Gabon', Decimal('6.626855')),
 ('Sao Tome and Principe', Decimal('0.024690'))]

### Correlated subqueries

With a normal nested subquery (uncorrelated), **it runs first and executes once**, returning value(s) to be used by the outer query. This is what we have above where our subquery calculates the land area sum for the `Middle Africa` sub-region, and this is the value that is returned to the outer query to calculate land area percentages.

If we want to calculate the land area percentages for all the regions, we would need to manually edit the search string in the `WHERE` clause, which is not very practical.

Instead, we can use a **correlated subquery**. This is a type of subquery that is **executed once for every row processed by the outer query**. It is often used when you need to perform a calculation based on values in the current row of the outer query. In our case, we want the subquery to calculate the land area sum based on the sub-region value of the current row being processed by the outer query. 

Below is a general syntax template where a correlated subquery has been used:

In [14]:
%%sql
SELECT
   Country_name,
   (Land_area / total_land_area) * 100 AS pct_regional_land
FROM
    Geographic_location
WHERE 
     Geographic_location.sub_region = 'Middle Africa' (
                        SELECT sub_region, SUM(Land_area) AS total_land_area
    FROM Geographic_location
    WHERE sub_region = 'Middle Africa'
    );

 * mysql+pymysql://root:***@localhost:3306/united_nations
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(\n                        SELECT sub_region, SUM(Land_area) AS total_land_area\n ' at line 7")
[SQL: SELECT
   Country_name,
   (Land_area / total_land_area) * 100 AS pct_regional_land
FROM
    Geographic_location
WHERE
     Geographic_location.sub_region = 'Middle Africa' (
                        SELECT sub_region, SUM(Land_area) AS total_land_area
    FROM Geographic_location
    WHERE sub_region = 'Middle Africa'
    );]
(Background on this error at: http://sqlalche.me/e/14/f405)

### 4. Calculate country land area percentages for all the regions using a correlated subquery

Transform the subquery in Exercise 2 into a correlated subquery that will calculate land area percentages for all the regions.

Hint: Use the general syntax above to help you figure out how to achieve this.

In [16]:
%%sql
SELECT g1.Country_name,
       g1.sub_region,
       (g1.Land_area / total_land_area) * 100 AS pct_regional_land
FROM Geographic_location g1
LEFT JOIN (
    SELECT sub_region, SUM(Land_area) AS total_land_area
    FROM Geographic_location g2
    GROUP BY g2.sub_region
) AS subquery
ON g1.sub_region = subquery.sub_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
182 rows affected.

[('Afghanistan', 'Southern Asia', Decimal('13.673197')),
 ('Algeria', 'Northern Africa', Decimal('36.027261')),
 ('American Samoa', 'Polynesia', Decimal('2.770977')),
 ('Angola', 'Middle Africa', Decimal('32.063103')),
 ('Anguilla', 'Caribbean', None),
 ('Antigua and Barbuda', 'Caribbean', Decimal('0.211433')),
 ('Argentina', 'South America', Decimal('17.769108')),
 ('Armenia', 'Western Asia', Decimal('0.816093')),
 ('Aruba', 'Caribbean', Decimal('0.086495')),
 ('Australia', 'Australia and New Zealand', Decimal('96.689469')),
 ('Azerbaijan', 'Western Asia', Decimal('2.369399')),
 ('Bahamas', 'Caribbean', None),
 ('Bahrain', 'Western Asia', Decimal('0.022383')),
 ('Bangladesh', 'Southern Asia', Decimal('2.728853')),
 ('Barbados', 'Caribbean', Decimal('0.206627')),
 ('Belize', 'Central America', Decimal('0.930231')),
 ('Benin', 'Western Africa', Decimal('1.965984')),
 ('Bermuda', 'Northern America', Decimal('0.000576')),
 ('Bhutan', 'Southern Asia', Decimal('0.799506')),
 ('Bolivia (Plurinational State of)', 'South America', None),
 ('Botswana', 'Southern Africa', Decimal('21.380632')),
 ('Brazil', 'South America', Decimal('54.268731')),
 ('British Virgin Islands', 'Caribbean', Decimal('0.072079')),
 ('Brunei Darussalam', 'South-Eastern Asia', Decimal('0.136342')),
 ('Burkina Faso', 'Western Africa', Decimal('4.770250')),
 ('Burundi', 'Eastern Africa', Decimal('0.431658')),
 ('Cabo Verde', 'Western Africa', Decimal('0.070264')),
 ('Cambodia', 'South-Eastern Asia', Decimal('4.566808')),
 ('Cameroon', 'Middle Africa', Decimal('12.157335')),
 ('Canada', 'Northern America', Decimal('95.621802')),
 ('Cayman Islands', 'Caribbean', Decimal('0.115327')),
 ('Central African Republic', 'Middle Africa', Decimal('16.022036')),
 ('Chad', 'Middle Africa', Decimal('32.384582')),
 ('Chile', 'South America', Decimal('4.827693')),
 ('China', 'Eastern Asia', Decimal('83.062638')),
 ('Colombia', 'South America', Decimal('7.203894')),
 ('Comoros', 'Eastern Africa', Decimal('0.031282')),
 ('Congo', 'Middle Africa', None),
 ('Cook Islands', 'Polynesia', None),
 ('Costa Rica', 'Central America', Decimal('2.082314')),
 ("Côte d'Ivoire", 'Western Africa', None),
 ('Cuba', 'Caribbean', Decimal('49.922154')),
 ('Curaçao', 'Caribbean', None),
 ('Cyprus', 'Western Asia', Decimal('0.264865')),
 ("Democratic People's Republic of Korea", 'Eastern Asia', None),
 ('Democratic Republic of the Congo', 'Middle Africa', None),
 ('Djibouti', 'Eastern Africa', Decimal('0.389635')),
 ('Dominica', 'Caribbean', Decimal('0.360397')),
 ('Dominican Republic', 'Caribbean', Decimal('23.214354')),
 ('Ecuador', 'South America', Decimal('1.612582')),
 ('Egypt', 'Northern Africa', None),
 ('El Salvador', 'Central America', Decimal('0.844997')),
 ('Equatorial Guinea', 'Middle Africa', Decimal('0.721401')),
 ('Eritrea', 'Eastern Africa', Decimal('2.035300')),
 ('Eswatini', 'Southern Africa', Decimal('0.648893')),
 ('Ethiopia', 'Eastern Africa', Decimal('18.970079')),
 ('Falkland Islands (Malvinas)', 'South America', None),
 ('Fiji', 'Melanesia', Decimal('3.449839')),
 ('French Guiana', 'South America', None),
 ('French Polynesia', 'Polynesia', Decimal('48.090312')),
 ('Gabon', 'Middle Africa', Decimal('6.626855')),
 ('Gambia', 'Western Africa', None),
 ('Georgia', 'Western Asia', Decimal('1.991933')),
 ('Ghana', 'Western Africa', Decimal('3.967168')),
 ('Greenland', 'Northern America', Decimal('4.377622')),
 ('Grenada', 'Caribbean', Decimal('0.163380')),
 ('Guadeloupe', 'Caribbean', None),
 ('Guam', 'Micronesia', Decimal('21.862348')),
 ('Guatemala', 'Central America', Decimal('4.370167')),
 ('Guinea', 'Western Africa', Decimal('4.284158')),
 ('Guinea-Bissau', 'Western Africa', Decimal('0.490276')),
 ('Guyana', 'South America', Decimal('1.278131')),
 ('Haiti', 'Caribbean', Decimal('13.243378')),
 ('Honduras', 'Central America', Decimal('4.563065')),
 ('India', 'Southern Asia', Decimal('62.329258')),
 ('Indonesia', 'South-Eastern Asia', Decimal('48.573920')),
 ('Iran (Islamic Republic of)', 'Southern Asia', None),
 ('Iraq', 'Western Asia', Decimal('12.444291')),
 ('Israel', 'Western Asia', Decimal('0.620311')),
 ('Jamaica', 'Caribbean', Decimal('5.204129')),
 ('Japan', 'Eastern Asia', Decimal('3.212444')),
 ('Jordan', 'Western Asia', Decimal('2.545015')),
 ('Kazakhstan', 'Central Asia', Decimal('72.010912')),
 ('Kenya', 'Eastern Africa', Decimal('9.566740')),
 ('Kiribati', 'Micronesia', Decimal('32.793522')),
 ('Kuwait', 'Western Asia', Decimal('0.510811')),
 ('Kyrgyzstan', 'Central Asia', None),
 ("Lao People's Democratic Republic", 'South-Eastern Asia', None),
 ('Lebanon', 'Western Asia', Decimal('0.293243')),
 ('Lesotho', 'Southern Africa', Decimal('1.145371')),
 ('Liberia', 'Western Africa', Decimal('1.679351')),
 ('Libya', 'Northern Africa', Decimal('26.615576')),
 ('Madagascar', 'Eastern Africa', Decimal('9.779543')),
 ('Malawi', 'Eastern Africa', Decimal('1.584763')),
 ('Malaysia', 'South-Eastern Asia', Decimal('8.500027')),
 ('Maldives', 'Southern Asia', Decimal('0.006289')),
 ('Mali', 'Western Africa', Decimal('21.274163')),
 ('Marshall Islands', 'Micronesia', Decimal('7.287449')),
 ('Martinique', 'Caribbean', None),
 ('Mauritania', 'Western Africa', Decimal('17.970381')),
 ('Mauritius', 'Eastern Africa', Decimal('0.034123')),
 ('Mayotte', 'Eastern Africa', None),
 ('Mexico', 'Central America', Decimal('79.277593')),
 ('Micronesia (Federated States of)', 'Micronesia', None),
 ('Mongolia', 'Eastern Asia', Decimal('13.724917')),
 ('Montserrat', 'Caribbean', None),
 ('Morocco', 'Northern Africa', Decimal('6.750930')),
 ('Mozambique', 'Eastern Africa', Decimal('13.218352')),
 ('Myanmar', 'South-Eastern Asia', Decimal('16.888289')),
 ('Namibia', 'Southern Africa', Decimal('31.059694')),
 ('Nauru', 'Micronesia', Decimal('0.809717')),
 ('Nepal', 'Southern Asia', Decimal('3.005156')),
 ('New Caledonia', 'Melanesia', Decimal('3.451727')),
 ('New Zealand', 'Australia and New Zealand', Decimal('3.310531')),
 ('Nicaragua', 'Central America', Decimal('4.907670')),
 ('Niger', 'Western Africa', Decimal('22.085070')),
 ('Nigeria', 'Western Africa', Decimal('15.879387')),
 ('Niue', 'Polynesia', None),
 ('Northern Mariana Islands', 'Micronesia', Decimal('18.623482')),
 ('Oman', 'Western Asia', Decimal('8.871826')),
 ('Pakistan', 'Southern Asia', Decimal('16.160548')),
 ('Palau', 'Micronesia', Decimal('18.623482')),
 ('Panama', 'Central America', Decimal('3.023963')),
 ('Papua New Guinea', 'Melanesia', Decimal('85.511433')),
 ('Paraguay', 'South America', Decimal('2.579637')),
 ('Peru', 'South America', Decimal('8.310937')),
 ('Philippines', 'South-Eastern Asia', Decimal('7.714056')),
 ('Puerto Rico', 'Caribbean', Decimal('4.262292')),
 ('Qatar', 'Western Asia', Decimal('0.329361')),
 ('Republic of Korea', 'Eastern Asia', None),
 ('Réunion', 'Eastern Africa', None),
 ('Rwanda', 'Eastern Africa', Decimal('0.414681')),
 ('Saint Barthélemy', 'Caribbean', None),
 ('Saint Helena', 'Western Africa', None),
 ('Saint Kitts and Nevis', 'Caribbean', None),
 ('Saint Lucia', 'Caribbean', None),
 ('Saint Martin (French Part)', 'Caribbean', None),
 ('Saint Pierre and Miquelon', 'Northern America', None),
 ('Saint Vincent and the Grenadines', 'Caribbean', None),
 ('Samoa', 'Polynesia', Decimal('38.747546')),
 ('Sao Tome and Principe', 'Middle Africa', Decimal('0.024690')),
 ('Saudi Arabia', 'Western Asia', Decimal('61.620921')),
 ('Senegal', 'Western Africa', Decimal('3.356784')),
 ('Seychelles', 'Eastern Africa', Decimal('0.007732')),
 ('Sierra Leone', 'Western Africa', Decimal('1.258467')),
 ('Singapore', 'South-Eastern Asia', Decimal('0.018446')),
 ('Sint Maarten (Dutch part)', 'Caribbean', Decimal('0.016338')),
 ('Solomon Islands', 'Melanesia', Decimal('5.285221')),
 ('Somalia', 'Eastern Africa', Decimal('10.545030')),
 ('South Africa', 'Southern Africa', Decimal('45.765410')),
 ('South Sudan', 'Eastern Africa', Decimal('10.622184')),
 ('Sri Lanka', 'Southern Asia', Decimal('1.297194')),
 ('State of Palestine', 'Western Asia', None),
 ('Sudan', 'Northern Africa', Decimal('28.256189')),
 ('Suriname', 'South America', Decimal('1.012895')),
 ('Syrian Arab Republic', 'Western Asia', Decimal('5.263759')),
 ('Tajikistan', 'Central Asia', Decimal('3.702039')),
 ('Thailand', 'South-Eastern Asia', Decimal('13.217406')),
 ('Timor-Leste', 'South-Eastern Asia', Decimal('0.384707')),
 ('Togo', 'Western Africa', Decimal('0.948296')),
 ('Tokelau', 'Polynesia', None),
 ('Tonga', 'Polynesia', Decimal('9.975518')),
 ('Trinidad and Tobago', 'Caribbean', Decimal('2.465114')),
 ('Tunisia', 'Northern Africa', Decimal('2.350044')),
 ('Türkiye', 'Western Asia', None),
 ('Turkmenistan', 'Central Asia', Decimal('12.534759')),
 ('Turks and Caicos Islands', 'Caribbean', Decimal('0.456503')),
 ('Tuvalu', 'Polynesia', Decimal('0.415647')),
 ('Uganda', 'Eastern Africa', Decimal('3.370564')),
 ('United Arab Emirates', 'Western Asia', Decimal('2.035790')),
 ('United Republic of Tanzania', 'Eastern Africa', None),
 ('United States of America', 'Northern America', None),
 ('United States Virgin Islands', 'Caribbean', None),
 ('Uruguay', 'South America', Decimal('1.136391')),
 ('Uzbekistan', 'Central Asia', Decimal('11.752291')),
 ('Vanuatu', 'Melanesia', Decimal('2.301781')),
 ('Venezuela (Bolivarian Republic of)', 'South America', None),
 ('Viet Nam', 'South-Eastern Asia', None),
 ('Wallis and Futuna Islands', 'Polynesia', None),
 ('Yemen', 'Western Asia', None),
 ('Zambia', 'Eastern Africa', Decimal('12.495728')),
 ('Zimbabwe', 'Eastern Africa', Decimal('6.502606'))]

## Solutions

### 1. Calculate the total land area of the 'Middle Africa' sub-region

In [ ]:
%%sql

SELECT
    SUM(Land_area) as total_land_area
FROM 
    Geographic_location 
WHERE 
    Sub_region = 'Middle Africa';

This query will return a single value which is the sum of all of the `Land_area` for the `Middle Africa` sub-region.

### 2. Calculate land area percentages for the Middle African countries using a static value

To calculate the percentages, we select the country names and the land area for each country, which we then divide by the total area for Middle Africa multiplied by 100 (to get the percentage), and then round the result off. 

**Note:** In the above query, we calculated a `total_land_area` of **"3888270.00"** which we'll use in the query below to calculate percentages for each country.

In [ ]:
%%sql

SELECT 
    Country_name, 
    ROUND(Land_area/3888270.00*100) AS  pct_regional_land
FROM 
    Geographic_location 
WHERE 
    Sub_region = 'Middle Africa';

### 3. Calculate land area percentages for the Middle African countries using a subquery

We replace the static value above with the query that generated that result (the query in Exercise 1).

In [ ]:
%%sql

SELECT 
    Country_name, 
    ROUND(land_area / (
                        SELECT 
                            SUM(Land_area)
                        FROM 
                            Geographic_location 
                        WHERE
                            Sub_region = 'Middle Africa') * 100, 2) as Pct_regional_land
FROM 
    Geographic_location 
WHERE 
    Sub_region = 'Middle Africa';

When we execute this, the inner query runs first and calculates the sum value, then “passes” that to the outer query to get the percentages. A subquery that passes a single value to the outer query is known as a **scalar subquery.** 

The benefit of using the subquery instead of the actual value is that if we want to do the same for another sub-region, we can just change the search string, “Middle Africa”, for example, to "Polynesia". It will process the same calculation using the Polynesian data. These types of calculations are known as **dynamic**. By changing some of the filters, we automatically calculate the corresponding sum.

### 4. Calculate land area percentages for all the regions using a correlated subquery

We replace **“Middle Africa”** with a reference to the field that will change for each row, that is, the `Sub_region`. In order for this to work, we have to give the table in our main query an alias, **`g`**, so that when we refer to it in the subquery, SQL knows we are talking about the outer query’s table.

In [ ]:
%%sql
    
SELECT 
    Country_name, 
    ROUND(Land_area / (
                        SELECT 
                            SUM(Land_area)
                        FROM 
                            Geographic_location 
                        WHERE
                            Sub_region = g.Sub_region) * 100, 2) as Pct_regional_land
FROM 
    Geographic_location AS g;

As SQL looks at the first row in **`g`**, the sub-region of the first row is **`g.sub-Region`**. 

So for the first row, the sub-region will be `Central and Southern Asia`. The inner query will then execute, filtering out the Central and Southern Asia data, and calculate the sum of the land area in Central and Southern Asia. The main query then uses that value to calculate the percentage. SQL then moves to the second row. This time, the sub-region is `Northern Africa and Western Asia`, which the subquery uses again, and passes back to the main query, and so on.

The downside of using correlated subqueries is that they can be quite inefficient. This is because the subquery may be evaluated once for each row processed by the outer query. For example, once we have calculated the total area for Middle Africa, the same calculation will be repeated for another row.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>